.heroinfo__box {
  display: flex;
  padding-left: 173px;
  margin-bottom: 80px;
}

.heroinfo__text {
  width: 345px;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  text-align: right;
}

.heroinfo__date {
  width: 174px;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.heroinfo__line {
  width: 3px;
  height: 150px;
  background-color: white;
  margin: 0 50px;
}
