.weekly {
  margin-top: 80px;
  padding: 18px 25px;
  padding-bottom: 42px;
  font-family: Montserrat, sans-serif;
  border-radius: 20px;
  background: rgba(232, 232, 232, 1);

  @media screen and (min-width: 768px) {
    padding: 26px 76px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      text-align: center;
      margin-left: 0;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px;
    }
  }

  &__item {
    background-color: #d9d9d9;
    height: 47px;
    border-radius: 10px;
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767px) {
      display: block;
      width: 100px;
      height: 140px;
      padding: 20px 15px;
      border-radius: 20px;
      text-align: center;
      gap: 10px;
    }
  }

  &__date {
    display: flex;
    width: 30%;
    gap: 5px;
  }

  &__dayname {
    font-size: 12px;
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__fulldate {
    font-size: 12px;
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__temps {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subwrap {
    display: flex;
    gap: 5px;
  }

  &__description {
    margin-top: 15px;

    @media (min-width: 768px) {
      margin-top: 0px;
      display: flex;
      width: 30%;
      justify-content: end;
    }
  }
}
