$accent-color:  #FFB36C;
$bg-color: #FFFFFF;
$text-color: #000000;
$input-text-color: #878787;
$light-grey: #E8E8E8;
$input-bg: #D9D9D9;
$graph-line-color: #B5B5B5;
$modal-input-bg: #E4E4E4;
$modal-input-text-color: #ABABAB;
$mobile-menu-bg: #E6E6E6;












