.hourly {
  margin-top: 20px;
  background-color: #e8e8e8;
  border-radius: 20px;
  padding: 20px 45px;

  &__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      text-align: center;
      margin-left: 0;
    }
  }

  .hourlyWrapper {
    width: 100%;
    height: 300px;
    min-width: 100%;
  }

  @media (min-width: 768px) {
    margin-top: 50px;

    .hourlyWrapper {
      height: 400px;
    }
  }

  @media (min-width: 1200px) {
    margin-top: 80px;

    .hourlyWrapper {
      height: 500px;
      min-width: 600px;
    }
  }
}
