.hero__sec {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../images/Hero/hero-bg.png);
  
}

.hero__box {
  padding-top: 100px;
  padding-bottom: 100px;
}
