.hero__sec {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../images/Hero/hero-bg.png);
}

.hero__box {
  padding-top: 100px;
  padding-bottom: 100px;
}

.herosearch__box {
  display: flex;
  justify-content: center;
}

.herosearch__form {
  display: flex;
}

.herosearch__input {
  padding-left: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #d9d9d9;
  color: #878787;
  border-radius: 10px;
  border: none;
  margin-right: 15px;

  @media screen and (max-width: 768px) {
    width: 250px;
    height: 42px;
  }

  @media screen and (min-width: 768px) {
    width: 625px;
    height: 42px;
  }
}

.herosearch__btn {
  width: 45px;
  height: 42px;
  background-color: #ffb36c;
  border-radius: 10px;
  border: none;
  padding: 9px 10px;
}

.herosearch__icon {
  width: 25px;
  height: 25px;
}
