.herosearch__box {
    display: flex;
    justify-content: center;
}

.herosearch__input {
    width: 625px;
    height: 42px;
    padding-left: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #D9D9D9;
    color: #878787;
    border-radius: 10px;
    border: none;
}

.herosearch__btn {
    width: 45px;
    height: 42px;
    background-color: #FFB36C;
    border-radius: 10px;
    border: none;
    padding: 9px 10px;
}