.seemore {
  background-color: #e5e5e5;
  padding-top: 40px;
  margin-bottom: 60px;
  margin-top: 80px;
  border-radius: 20px;

  @media screen and (min-width: 768px) {
   padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 40px;
  padding-left: 77px;
  padding-right: 77px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
   gap: 20px;
  }

  @media screen and (min-width: 1200px) {
    gap: 0px;
  }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 260px;
    height: 200px;
    background: #d9d9d9;
    border-radius: 10px;
    padding: 20px 0;

  @media screen and (min-width: 768px) {
    width: 177px;
    height: 200px;
  }

  @media screen and (min-width: 1200px) {
     width: 290px;
    height: 217px;
  }
  }

  &__minMax {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__min {
    margin-bottom: 20px;
  }

  &__min,
  &__max {
    width: 70px;
  }

  &__itemimage {
    width: 85px;
    height: 85px;
    object-fit: contain;
  }

  &__itemtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin: 0 0 10px 0;
  }

  &__itemsubtitle {
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    text-align: center;
    margin: 0 0 20px 0;
  }
}
