.header__box {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__logo {
  margin-right: 111px;
}

.header__list {
  display: flex;
  gap: 45px;
  margin-right: 519px;
}

.header__item {
  font-size: 12px;
  font-weight: 500;
}

.header__btn {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 27px;
  background-color: #ffb36c;
  border-radius: 10px;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1550px;
  height: 750px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal__box {
  background: #fff;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 25px;
  min-width: 600px;
  min-height: 534px;
}

.modal__title {
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 40px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__list {
  margin-bottom: 5px;
}

.modal__item {
  margin-bottom: 30px;
}

.modal__type {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
}

.modal__input {
  width: 440px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #e4e4e4;
  color: #ababab;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 500;
}

.modal__btn {
  display: flex;
  justify-content: center;
  width: 114px;
  height: 37px;
  margin-left: 163px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  background-color: #ffb36c;
  border-radius: 10px;
}

.modal__login {
    text-align: center;
    font-size: 10px;
    font-weight: 500;
}
