.footer {
  width: 100%;
  height: 179px;
  background: #ffb36c;

  &__box {
    display: flex;
    justify-content: left;
    gap: 30px;
    padding-top: 40px;

    @media screen and (min-width: 768px) {
  gap: 100px;
  }
  }

  &__logo {
    width: 90px;
    height: 62px;
  }

  &__addresstitle {
    text-align: left;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
  }

  &__addressinfo {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
  }

  &__addressbox {
    text-align: left;
  }

  &__socbox {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  &__soctitle {
    text-align: left;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
  }

  &__soctitle {
    text-align: left;
  }

  &__socicons {
    display: flex;
    gap: 15px;
  }
}
