.interaction__sec {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.interaction__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}

.interaction__img {
  width: 270px;
  height: 208px;
  border-radius: 10px;
}

.interaction__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}

.interaction__item {
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.interaction__btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  background-color: #ffb36c;
  border: 2px solid #fff;
  transition: all 250ms ease-in-out;

  &:hover {
    color: #ffb36c;
    background-color: #fff;
    border: 2px solid #ffb36c;
  }
}
