.hero__title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 80px;
  color: #ffffff;

  @media (max-width: 769px) {
    font-size: 32px;
  }

  @media (max-width: 420px) {
    font-size: 28px;
  }
}
