.slider {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 80px;
  }
}
